.content {
    height: 500px;
    width: 60%;
    display: block;
    margin: auto;
    margin-top: 84px;
}

.quiz-body {
    margin-top: 15px;
    padding-bottom: 50px;
}

.option-block-container {
    margin-top: 20px;
    max-width: 420px;
}

.option-block {
    padding: 10px;
    background: #ccc;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.result-question {
    font-weight: bold;
}

.c-wrong {
    margin-left: 20px;
    color: #ff0000;
}

.c-correct {
    margin-left: 20px;
    color: green;
}

.last-row {
    border-bottom: 1px solid #ccc;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.res-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.btn{
    height: 30px;
    width: 20%;
    display:inline-block;
    margin: auto;
    background-color: #ccc;
    color: white;
    text-transform: capitalize;
    border: none;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 15px;
}

.btn:hover{
    background-color:black;
}

img{
    height: 80px;
    width: 80px;
    display: block;
    margin: auto;
    float: right;
    margin-top: -50px;
    border-radius: 50%;
    opacity: 2;
}
